:root {
  --blue: #4677F6;
  
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile {
  width: 360px;
  height: 570px;
  background: white;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.toolbar p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.toolbar a {
  display: block;
}

.toolbar svg {
  width: 1.8rem;
  fill: grey;
  transition: fill 0.3s;
}

.toolbar a:hover svg {
  fill: black;
}

.navigation {
  position: relative;
}

.map {
  position: relative;
  height: 120px;
  border-radius: 6px;
  overflow: hidden;
  transform: scale(1.05);
  transform-origin: center center;
  color: white;
  box-shadow: 0px 9px 13px #65656573;
}

.map .img-map {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.map::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: var(--blue);
  opacity: 0.65;
  z-index: 2;
}

.map-info {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.8rem;
}

.spacer {
  flex: 1;
}

.distance {
  flex: 1;
  position: relative;
}

.distance::before {
  content: '';
  position: absolute;
  left: 15px;
  width: 59px;
  height: 0.1rem;
  background: white;
  z-index: 3;
}

.distance img {
  width: 1rem;
  position: absolute;
  left: 65px;
  top: -20px;
}

.bold {
  font-weight: 500;
}

.distance .line {
  width: 100%;
  height: 0.1rem;
  transform: scaleX(0.85);
  background: rgb(231, 231, 231);
  /* opacity: 0.4; */
  position: relative;
}

.line::before, .line::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 6px;
  height: 6px;
  z-index: 4;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: white;
}

.line::before {
  left: 0;
}

.line::after {
  right: -5px;
}

.map-info .top {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.map-info .top p {
  font-size: 0.7rem;
  font-weight: 500;
  margin: 0;
}

.map-info .bottom {
  display: flex;
}

.map-info .bottom p {
  font-size: 0.7rem;
  margin: 0;
}

.open-map {
  position: absolute;
  bottom: -17px;
  right: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 0.75rem;
  padding: 0.5rem;
  border-radius: 4px;
  margin: 0;
  z-index: 3;
  background: var(--blue);
  transition: background 0.3s;
}

.open-map:hover {
  background: #4677f6e3;
}

.open-map img {
  width: 1rem;
  margin-right: 0.3rem;
}

.route-wrapper {
  padding: 1.5rem;
}

.heading {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.route {
  display: flex;
  align-items: center;
  margin: 1.2rem 0;
  position: relative;
  overflow: hidden;
}

.img-cover {
  height: 3.4rem;
  margin: 0 -24px;
}

.img-cover .streetview {
  position: absolute;
  top: 0;
  left: 1rem;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon-d {
  width: 1.3rem;
  margin-right: 1.5rem;
}

.time {
  margin: 0 0 0.3rem 0;
  font-size: 0.7rem;
  color: grey;
}

.direction {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 500;
}

.marker {
  position: absolute;
  left: 34px;
  top: 50%;
  bottom: 0;
  z-index: 2;
  width: 1.2rem;
  transform: translate(-50%, -50%);
}